SCCS
.directory
stamp-h.in
po
admin
aclocal.m4
*.o
Makefile.in
subdirs
libtool
autom4te.cache
Makefile
.deps
.libs
acinclude.m4
config.*
configure
configure.files
configure.in
stamp-*
*.moc
*.moc.cpp
*ui.cpp
*ui.h
