<!DOCTYPE kpartgui>
<kpartgui name="krepton" version="402">
<MenuBar>

	<Menu name="file" noMerge="1"><text>&amp;File</text>
		<Action name="file_open"/>
		<Separator lineSeparator="true"/>

		<Action name="edit_edit"/>
		<Action name="file_save"/>
		<Action name="file_save_as"/>
		<Action name="file_remove"/>
		<Action name="file_print"/>
		<Action name="file_import"/>
		<Action name="file_export"/>
		<Separator lineSeparator="true"/>

		<Action name="file_highscores"/>
		<Separator lineSeparator="true"/>

		<Action name="file_quit"/>
	</Menu>

	<Menu name="game" noMerge="1"><text>&amp;Game</text>
		<Action name="game_start"/>
		<Action name="game_restart"/>
		<Action name="game_continue"/>
		<Separator lineSeparator="true"/>

		<Action name="game_pause"/>
		<Action name="game_suicide"/>
	</Menu>

	<Menu name="settings">
		<!-- display -->
		<Action name="settings_loadsprites"/>
		<Action name="settings_magnification"/>
		<Separator lineSeparator="true"/>
		<!-- gameplay -->
		<Action name="settings_cheats"/>
		<Separator lineSeparator="true"/>
		<!-- sound -->
		<Action name="settings_sound_enable"/>
		<Action name="settings_sound_scheme"/>
		<Separator lineSeparator="true"/>
		<!-- editing -->
		<Action name="settings_check"/>
	</Menu>

</MenuBar>


<ToolBar name="mainToolBar" noMerge="1">
    <text>Main Toolbar</text>
</ToolBar>


</kpartgui>
